
/* تنسيق عناصر HTML5 الهيكلية */
body {
    font-family: 'Cairo', sans-serif;
    background-color: #fdfdfd;
    color: #222;
    line-height: 1.8;
    padding: 20px;
}

header, footer {
    background-color: #00796b;
    color: rgb(54, 51, 51);
    padding: 20px;
    text-align: center;
}

nav a, nav ul li a {
    color: rgb(43, 40, 40);
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
}

section, article, aside {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fafafa;
}
